.box {
  &__container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 8px;
    margin: 8px;
  }
  &__intro {
    background-color: beige;
    height: 88px;
    width: 176px;
  }
  &__about-me {
    background-color: aquamarine;
    width: 176px;
  }
}
